In [1]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [85, 78, 92],
    'Science': [90, 82, 89],
    'English': [88, 85, 94]
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Math  Science  English
0    Alice    85       90       88
1      Bob    78       82       85
2  Charlie    92       89       94

## Melt->Source, Melt-> GO Long

In [29]:
df=df.melt(id_vars=["Name"],value_vars=["Math","Science","English"],var_name="Subject",value_name="Score")

## Source -> Pivot, Pivot->Go wide

In [23]:
df.columns

Index(['Name', 'Math', 'Science', 'English'], dtype='object')

In [45]:
df.pivot_table(index="Name", columns="Subject", values="Score", aggfunc="mean")

Subject  English  Math  Science
Name
Alice       88.0  85.0     90.0
Bob         85.0  78.0     82.0
Charlie     94.0  92.0     89.0