In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("datatwo.csv")

In [9]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Vikciy Koushal,xxyz,2023,Action,1050,7.2
1,Jitu Bhaiya,Tiger Zinda Hai,2017,Action,565,6.0
2,JK shah,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [11]:
df['Actor']

0         Vikciy Koushal
1            Jitu Bhaiya
2                JK shah
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [15]:
df[['Actor','IMDb']] # return view

                 Actor  IMDb
0       Vikciy Koushal   7.2
1          Jitu Bhaiya   6.0
2              JK shah   8.4
3        Ranbir Kapoor   5.6
4        Ranveer Singh   7.0
5   Ayushmann Khurrana   8.3
6        Rajkummar Rao   7.5
7       Hrithik Roshan   6.5
8         Akshay Kumar   7.0
9        Kartik Aaryan   5.9
10        Varun Dhawan   6.1
11       Vicky Kaushal   8.2

In [17]:
df.loc[8]

Actor                   Akshay Kumar
Film                      Good Newwz
Year                            2019
Genre                         Comedy
BoxOffice(INR Crore)             318
IMDb                             7.0
Name: 8, dtype: object

In [19]:
df.loc[8,'IMDb'] #loc->label

7.0

In [23]:
df.iloc[8,5] #iloc->index

7.0

In [29]:
df.loc[0:2,["Actor","IMDb","Film"]] #2->inclusive

            Actor  IMDb             Film
0  Vikciy Koushal   7.2             xxyz
1     Jitu Bhaiya   6.0  Tiger Zinda Hai
2         JK shah   8.4           Dangal

In [35]:
df.iloc[0:2,0:2] #2->exclusive

            Actor             Film
0  Vikciy Koushal             xxyz
1     Jitu Bhaiya  Tiger Zinda Hai

In [37]:
df.at[0,"Actor"] #only element access

'Vikciy Koushal'

In [39]:
df.iat[0,0]

'Vikciy Koushal'

In [43]:
df[df['IMDb']>6]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Vikciy Koushal,xxyz,2023,Action,1050,7.2
2,JK shah,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [45]:
df[(df['IMDb']>6) & (df['Year']>2018)]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Vikciy Koushal,xxyz,2023,Action,1050,7.2
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [51]:
df.query("Year > 2019 and IMDb >6 ") #some natural language

            Actor  Film  Year   Genre  BoxOffice(INR Crore)  IMDb
0  Vikciy Koushal  xxyz  2023  Action                  1050   7.2